.box{
    color: black;
    padding: 40px 70px;
    margin: 20px;
    border:1px solid black;
    text-align: center;
    display: inline-block;
}
#t545{
    position: relative;
    top: 20px;
    left: 50px;
    background: chartreuse;
}